network:
  ethernets:
    {{interface}}:
      dhcp4: false
      dhcp6: false
  bridges:
    {{br_name}}:
      interfaces: [ {{interface}} ]
      addresses: [{{ip}}]
      gateway4: {{gw}}
      mtu: 1500
      nameservers:
        addresses: [8.8.8.8,8.8.4.4]
      parameters:
        stp: true
        forward-delay: 4
      dhcp4: no
      dhcp6: no
  version: 2
